/* the reset selector*/
* {
	margin: 0;
	padding: 0;
  }

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	width: 98%;
	max-width: 960px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	border: 3px solid #931420;
	background-color: #fffded;
}

/* the styles for the header */

header	{
	padding-top: 1.5em;
	padding-bottom: 2em;
	border-bottom: 3px solid #931420;
	background: linear-gradient( 30deg,#f6bb73, #f6bb73, white,#f6bb73,
	#f6bb73);
}

header img {
	padding-left: 2em;
	padding-right: 2em;
	float: left;
}

main h1	{
	font-size: 150%;
	padding-top: 0.5em;
	padding-bottom: .25em;
	margin-top: 0;
	margin-bottom: 0;
	margin: 0;
}

article	{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-top: 2px solid #800000;
	border-bottom: 2px solid #800000;
}

article img	{
	float:right;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: 1em;
	border: 2px solid black;
	max-width: 40%;
	min-width: 150px;
}

article h2	{
	padding-top:0;
}

header h2	{
	font-size: 170%;
	color: #800000;
}

article h3	{
	font-size: 105;
	padding-bottom:.25em;
}

header h3	{
	font-size: 130%;
	font-style: italic;
}

header h3 span {
	text-shadow: 2px 2px 2px #800000;
}

/* the styles for the nav menu */

#nav_menu ul  {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
  }
  
#nav_menu ul li  {
	display: inline;
	float: left;
}
  
#nav_menu li a	{
	display: block;
	width: 11.925em;
	text-align: center;
	padding: 1em;
	background-color: #800000;
	color: white;
	font-weight: bold;
	text-decoration: none;
}

.current	{
	color:yellow !important;
}

#nav_menu ul ul {
	display: none;
	position: absolute;
}

#nav_menu ul ul li	{
	float: none;
	width: 100%;
}

#nav_menu ul li:hover > ul {
	display: block; 
} 
	
#nav_menu > ul::after {
	content: ""; 
	display: block;
	clear: both; 
}

/* the styles for the section */
main {
	clear: left;
}

aside	{
	width: 20em;
	float: right;
	padding-left: 2em;
	padding-bottom: 20px;
}

aside h2 {
	font-size: 130%;
	color:#800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

aside h3 {
	font-size: 105%;
	padding-bottom: .25em;
}

section	{
	width: 35em;
	float: right;
	padding-right: .5em;
}

section h2 {
	font-size: 130%;
	color:#800000;
	padding-top: .5em;
	padding-bottom: .25em;
}

aside img	{
	padding-bottom: 1em;
}

p	{
	padding-bottom: .5em;
}

blockquote	{
	padding-left: 2em;
	padding-right: 2em;
	font-style: italic;
}

ul	{
	padding-bottom: .25em;
	padding-left: 1.25em;
	list-style: circle;
}

li	{
	padding-bottom: .35em;
}

/* mouse over link */
a:hover {
	font-style: italic;
}

/* the styles for the footer */
footer	{
	background-color: #931420;
	clear:both;
}
footer p {
	text-align: center;
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

#mobilemenu {
	display: none;
  }
  
  @media only screen and (max-width: 980px) {
	section  {
	  float: none;
	  width: 100%;
	}
	section h1 {
		font-size: 135%;
	}
	section h2	{
		font-size: 120%;
	}
	aside h2	{
		font-size: 120%;
	}
	aside  {
	  width: 100%;
	}
	article img {
		max-width: 10%;
	}
	
	#mobilemenu {
	  display: block;
	  
	}

	#nav_menu {
	  display: none;
	  }

	}

	  @media only screen and (max-width: 767px) {
		header img	{
			float: none;
			
		}
		header {
			text-align: center;
		}
		div {
			column-count: 2;
		}
	
		section {
			float:none;
			width: 90%
		}
		aside {
			float: none;
			padding-left: 5%;
			padding-right: 5%;
			width: 90%
		}

		article img {
			max-width: 30%;
		}
		#mobilemenu {
			display: block;
		  }
		  #nav_menu {
			display: none;
			}
		}
		@media only screen and (max-width: 479px) {
			header, head, body, footer {
			font-size: 90%;
		}
		header img	{
			float: none;
			
		}
		header {
			text-align: center;
		}
		div {
			column-count: 2;
		}
	
		section {
			float:none;
			width: 90%
		}
		aside {
			float: none;
			padding-left: 5%;
			padding-right: 5%;
			width: 90%
		}

		article img {
			max-width: 30%;
		}
		#mobilemenu {
			display: block;
		  }
		  #nav_menu {
			display: none;
			}
		}

		.slicknav_menu  {
			background-color: #931420 !important;
		  }
		  .slicknav_menu .slicknav_icon {
			background-color: #931420 !important;
		  }
		  .slicknav_btn {
			background-color: #931420 !important;
		  }